<div class="footer">
    <p>&copy;2026 Airbnb, Inc</p>
    <p>&bull; Privacy &bull; Terms &bull; Company Details</p>
    <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
</div>