<% layout("/layouts/boilarplate") %>
<body>
    
    <form method="get" action="http://localhost:8080/listing/new">
        <button type="submit">add new</button>
    </form>

    <hr> 
    
    <% for(let list of lists){%>
        <li><a  href="http://localhost:8080/listing/<%= list._id %>">
            <%= list.title %>
        </a>
        <form method="get" action="http://localhost:8080/listing/edit/<%= list._id %>">
            <button>Update</button>
        </form>
        <form method="post" action="http://localhost:8080/<%= list._id %>?_method=Delete">
            <button>Delete</button>
        </form>
    </li>
        <%}%>
</body>
